@media screen and (max-width: 1240px) {
    .nav{
        padding: 0;
    }
    .menu{
        padding: 0;
    }
    .link{
        padding: 0 5px;
    }
}
@media screen and (max-width: 980px) {
    .link{
        font-size: 15px;
    }
    .img{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .link{
        font-size: 10px;
    }
}
@media screen and (max-width: 570px) {
    .menu{
        display: none
    }
    .header-right{
        display: block;
    }
}
@media screen and (max-width: 510px) {
    .title-ristorante {
        font-size: 71px;
    }
}
@media screen and (max-width: 350px) {
    .title-ristorante {
        font-size: 50px;
    }
}
