<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora&family=Lovers+Quarrel&family=Marck+Script&family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/bar.css">
    <link rel="stylesheet" href="../static/css/nav_footer.css">
    <link rel="stylesheet" href="../static/css/bar_media.css">
</head>
<body>
  <section class="main-block">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
            <li class="item"><a href="../templates/main.html" class="link">Главная</a></li>
            <li class="item"><a href="../templates/main_menu.html" class="link">Меню</a></li>
            <li class="item"><a href="../templates/halls.html" class="link">Залы</a></li>
        </ul>
        <a href="../templates/main.html" ><img src="../static/img/logo.mario.png" alt=""></a>
        <ul class="menu">
            <li class="item"><a href="../templates/shev-cook .html" class="link">Шев-повары</a></li>
            <li class="item"><a href="../templates/booking.html" class="link">Бронирование</a></li>
            <li class="item"><a href="../templates/contacts.html" class="link">Контакты</a></li>
        </ul>
        <div class="header-right">
            <button type="button" class="nav-btn" id="navBtn"><span></span></button>
            <nav class="main-nav nav-hidden" id="mainNav">
                <ul class="main-nav-list">
                    <li class="main-nav-item">
                        <a href="../templates/main.html" class="main-nav-link">Главная</a>
                    </li>
                        <li class="main-nav-item">
                            <a href="../templates/main_menu.html" class="main-nav-link">Меню</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/halls.html" class="main-nav-link">Залы </a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/shev-cook .html" class="main-nav-link">Шев-повары</a>
                        </li>
                    <li class="main-nav-item">
                        <a href="../templates/booking.html" class="main-nav-link">Бронирование</a>
                    </li>
                    <li class="main-nav-item">
                    <a href="../templates/contacts.html" class="main-nav-link">Контакты</a>
                </li>
                </ul>
            </nav>
        </div>
  </nav>
        </div>
      </nav>
    </div>
  </section>
  <div class="header-img"></div>
  <div class="bar-menu-block container">
    <div class="row">
      <h1 class="title">бар</h1>
      <img src="../static/img/italy.png" alt="картинка">
        <div class="line"></div>
    </div>
      <div class="bar-menu">
      <div class="ingredients-left">
        <h2 class="productions-title">Лимонад</h2>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Лимонный с мятой</th>
            <th class="amount">330 мл</th>
            <th class="amount1">240 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Малиновый с лимоном и <br> мятой</th>
            <th class="amount">330 мл</th>
            <th class="amount1">240 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Апельсиновый</th>
            <th class="amount">330 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Зеленое Яблоко</th>
            <th class="amount">330 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Цитрусовый</th>
            <th class="amount">330 мл</th>
            <th class="amount1">280 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Ягодный</th>
            <th class="amount">330 мл</th>
            <th class="amount1">280 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Черничный</th>
            <th class="amount">330 мл</th>
            <th class="amount1">280 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Клубничный</th>
            <th class="amount">330 мл</th>
            <th class="amount1">280 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Фреши</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Ананасовый Фреш</th>
            <th class="amount">100 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Апельсиновый Фреш</th>
            <th class="amount">100 мл</th>
            <th class="amount1">130 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Виноградный Фреш</th>
            <th class="amount">100 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Грушевый Фреш</th>
            <th class="amount">100 мл</th>
            <th class="amount1">130 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Морковный Фреш</th>
            <th class="amount">100 мл</th>
            <th class="amount1">130 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Сельдереевый Фреш</th>
            <th class="amount">100 мл</th>
            <th class="amount1">130 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Яблочный Фреш</th>
            <th class="amount">100 мл</th>
            <th class="amount1">130 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Грейпфрутовый Фреш</th>
            <th class="amount">100 мл</th>
            <th class="amount1">200 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Напитки</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Вода «Asu» с газом, без газа</th>
            <th class="amount">0,5 л</th>
            <th class="amount1">70 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Вода «Tassay» с газом, <br> без газа</th>
            <th class="amount">0,5 л</th>
            <th class="amount1">60 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Вода «Tassay» с газом, <br> без газа</th>
            <th class="amount">0,5 л</th>
            <th class="amount1">80 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Вода «Tassay Excellent»</th>
            <th class="amount">0,5 л</th>
            <th class="amount1">350 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Пепси</th>
            <th class="amount">0,5 л</th>
            <th class="amount1">90 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Соки Gracio в ассортименте</th>
            <th class="amount">0,5 л</th>
            <th class="amount1">100 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Соки Gracio в ассортименте</th>
            <th class="amount">1 л</th>
            <th class="amount1">270 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Боржоми</th>
            <th class="amount">0,5 л</th>
            <th class="amount1">230 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Швепс Тоник</th>
            <th class="amount">0,25 л</th>
            <th class="amount1">110 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Red Bull</th>
            <th class="amount">0,25 л</th>
            <th class="amount1">290 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Коктейли безалкогольные</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Мохито</th>
            <th class="amount">330 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Пина-Колада</th>
            <th class="amount">330 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Мохито Имбирный</th>
            <th class="amount">330 мл</th>
            <th class="amount1">280 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Клюквенно-Цитрусовый</th>
            <th class="amount">330 мл</th>
            <th class="amount1">280 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Коктейли алкогольные</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Дайкири</th>
            <th class="amount-one">280 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Маргарита</th>
            <th class="amount-one">280 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Куба-Либра</th>
            <th class="amount-one">300 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Пина-Колада</th>
            <th class="amount-one">300 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Мохито</th>
            <th class="amount-one">320 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Б-52</th>
            <th class="amount-one">320 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Кампари Орандж</th>
            <th class="amount-one">320 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Б-53</th>
            <th class="amount-one">350 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Лонг Айленд Айс-Ти</th>
            <th class="amount-one">500 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Пиво</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Heineken</th>
            <th class="amount">330 мл</th>
            <th class="amount1">220 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Corona Extra</th>
            <th class="amount">330 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Hoegaarden</th>
            <th class="amount">330 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Stella Artois</th>
            <th class="amount">330 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Baltika 0</th>
            <th class="amount">330 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Heineken 0</th>
            <th class="amount">330 мл</th>
            <th class="amount1">200 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Коньяк</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Hennessy V.S.</th>
            <th class="amount">50 мл</th>
            <th class="amount1">400 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Hennessy V.S.O.P.</th>
            <th class="amount">50 мл</th>
            <th class="amount1">700 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Hennessy X.O.</th>
            <th class="amount">50 мл</th>
            <th class="amount1">2500 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Кыргызстан</th>
            <th class="amount">50 мл</th>
            <th class="amount1">150 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Джин</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Джин Gordon's</th>
            <th class="amount">50 мл</th>
            <th class="amount1">180 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Джин Beefeater</th>
            <th class="amount">50 мл</th>
            <th class="amount1">200 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Sambuca</th>
            <th class="amount">50 мл</th>
            <th class="amount1">240 сом</th>
          </tr>
        </table>
      </div>
      <div class="ingredients-right">
        <h6 class="productions-title">Виски</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Johnnie Walker Red Label <br> (Шотландия)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">200 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Johnnie Walker Black Label <br> (Шотландия)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">350 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Jack Daniels (США)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Jameson (Ирландия)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Bushmills Originals <br> (Ирландия)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Bushmills 10YO (Ирландия)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">400 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Macallan Sienna (Шотландия)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">800 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Chivas 12YO (Шотландия)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">350 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Chivas 18YO (Шотландия)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">1150 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Glenfiddich 12YO (Шотландия)</th>
            <th class="amount">50 мл</th>
            <th class="amount1">330 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Singleton of Dufftown <br> 12YO</th>
            <th class="amount">50 мл</th>
            <th class="amount1">240 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Ardbeg 10YO</th>
            <th class="amount">50 мл</th>
            <th class="amount1">700 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Текила</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Sierra Silver</th>
            <th class="amount">50 мл</th>
            <th class="amount1">200 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Sierra Gold</th>
            <th class="amount">50 мл</th>
            <th class="amount1">200 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Olmeco Silver</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Olmeca Gold</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Jose Cuervo Especial Silver</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Jose Cuervo Especial Gold</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Ликер</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">di Amore</th>
            <th class="amount">50 мл</th>
            <th class="amount1">200 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Абсент Табу</th>
            <th class="amount">50 мл</th>
            <th class="amount1">350 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Campari</th>
            <th class="amount">50 мл</th>
            <th class="amount1">150 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Jägermeister</th>
            <th class="amount">50 мл</th>
            <th class="amount1">150 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Baileys</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Cointreau</th>
            <th class="amount">50 мл</th>
            <th class="amount1">300 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Cahlua</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Ром</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Bacardi Carta Blanca</th>
            <th class="amount">50 мл</th>
            <th class="amount1">200 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Bacardi Carta Gold</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Captain Morgan Gold</th>
            <th class="amount">50 мл</th>
            <th class="amount1">170 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Captain Morgan Black</th>
            <th class="amount">50 мл</th>
            <th class="amount1">170 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Captain Morgan White</th>
            <th class="amount">50 мл</th>
            <th class="amount1">170 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Bacardi Carta Negra</th>
            <th class="amount">50 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Шампанское</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Martini Asti Spumante</th>
            <th class="amount">1 бут</th>
            <th class="amount1">2800 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Martini Prosecco Sparkling</th>
            <th class="amount">1 бут</th>
            <th class="amount1">2900 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Moët & Chandon Rosé GB</th>
            <th class="amount">1 бут</th>
            <th class="amount1">8500 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Moet & Chandon Brut</th>
            <th class="amount">1 бут</th>
            <th class="amount1">7500 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Dom Perignon White Gold</th>
            <th class="amount">50 мл</th>
            <th class="amount1">40000 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Мартини (Вермут)</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Heineken</th>
            <th class="amount">100 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Corona Extra</th>
            <th class="amount">100 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Hoegaarden</th>
            <th class="amount">100 мл</th>
            <th class="amount1">250 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Водка</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Ала-Арча</th>
            <th class="amount">50 мл</th>
            <th class="amount1">150 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Серебро</th>
            <th class="amount">50 мл</th>
            <th class="amount1">80 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Финляндия</th>
            <th class="amount">50 мл</th>
            <th class="amount1">15 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Абсолют</th>
            <th class="amount">50 мл</th>
            <th class="amount1">170 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Русский Стандарт Платинум</th>
            <th class="amount">50 мл</th>
            <th class="amount1">200 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Beluga</th>
            <th class="amount">50 мл</th>
            <th class="amount1">300 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Belvedere</th>
            <th class="amount">50 мл</th>
            <th class="amount1">350 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Grey Goose</th>
            <th class="amount">50 мл</th>
            <th class="amount1">380 сом</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
    <footer class="footer">
      <div class="footer-row">
          <p>© 2019 Ресторан "Марио". All Rights Reserved. Сайт разработан Vision Studio</p>
          <div class="footer-icon">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook icon"></i>
          </div>
      </div>
  </footer>
  <script src="../static/js/script.js"></script>
</body>
</html>