<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora&family=Lovers+Quarrel&family=Marck+Script&family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/drinks.css">
    <link rel="stylesheet" href="../static/css/nav_footer.css">
    <link rel="stylesheet" href="../static/css/drinks_media.css">
</head>
<body>
  <section class="main-block">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
            <li class="item"><a href="../templates/main.html" class="link">Главная</a></li>
            <li class="item"><a href="../templates/main_menu.html" class="link">Меню</a></li>
            <li class="item"><a href="../templates/halls.html" class="link">Залы</a></li>
        </ul>
        <a href="../templates/main.html" ><img src="../static/img/logo.mario.png" alt=""></a>
        <ul class="menu">
            <li class="item"><a href="../templates/shev-cook .html" class="link">Шев-повары</a></li>
            <li class="item"><a href="../templates/booking.html" class="link">Бронирование</a></li>
            <li class="item"><a href="../templates/contacts.html" class="link">Контакты</a></li>
        </ul>
        <div class="header-right">
            <button type="button" class="nav-btn" id="navBtn"><span></span></button>
            <nav class="main-nav nav-hidden" id="mainNav">
                <ul class="main-nav-list">
                    <li class="main-nav-item">
                        <a href="../templates/main.html" class="main-nav-link">Главная</a>
                    </li>
                        <li class="main-nav-item">
                            <a href="../templates/main_menu.html" class="main-nav-link">Меню</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/halls.html" class="main-nav-link">Залы </a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/shev-cook .html" class="main-nav-link">Шев-повары</a>
                        </li>
                    <li class="main-nav-item">
                        <a href="../templates/booking.html" class="main-nav-link">Бронирование</a>
                    </li>
                    <li class="main-nav-item">
                    <a href="../templates/contacts.html" class="main-nav-link">Контакты</a>
                </li>
                </ul>
            </nav>
        </div>
      </nav>
    </div>
  </section>
  <div class="header-img"></div>
  <div class="drinks-menu-block container">
    <div class="row">
      <h1 class="title">чай и кофе</h1>
      <img src="../static/img/italy.png" alt="картинка">
        <div class="line"></div>
    </div>
    <div class="drinks-menu">
      <div class="ingredients-left">
        <h6 class="productions-title">кофе</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Эспрессо</th>
            <th class="amount-one">150 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Двойной Эспрессо</th>
            <th class="amount-one">280 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Американо</th>
            <th class="amount-one">180 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Гляссе</th>
            <th class="amount-one">200 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Капучино</th>
            <th class="amount-one">220 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Айс кофе</th>
            <th class="amount-one">220 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Латте Макиато</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Айс капучино</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Мокко</th>
            <th class="amount-one">280 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Бейлис кофе</th>
            <th class="amount-one">280 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Айриш кофе</th>
            <th class="amount-one">300 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Глинтвейн</th>
            <th class="amount-one">450 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Горячий шоколад</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Какао</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <h6 class="productions-title">Добавки</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Лимон</th>
            <th class="amount">0,5 </th>
            <th class="amount1">60 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Лимон</th>
            <th class="amount">1 гр</th>
            <th class="amount1">90 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Сливки</th>
            <th class="amount">50гр </th>
            <th class="amount1">80 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Мед</th>
            <th class="amount">50 гр</th>
            <th class="amount1">60 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Мята</th>
            <th class="amount">10 гр</th>
            <th class="amount1">100 сом</th>
          </tr>
        </table>
      </div>   
      <div class="ingredients-right">
        <h6 class="productions-title">Чай</h6>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Чашка чая</th>
            <th class="amount-one">180 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Черный/ зеленый/ каркаде</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Настой Шиповника</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Чай Мохито</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Малиновый чай</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Согревающий</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Шоколадно - карамельный</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Взрывной микс</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Граф Грей</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Те Гуа Нинь</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Индийский зеленый/черный</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Молочный улун</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table> 
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Манго и клубника</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Имбирный чай</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Грейпфруктовый чай</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Облепиховый чай</th>
            <th class="amount-one">250 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text">
            <th class="table-title one">Чай Пуэр</th>
            <th class="amount-one">300 сом</th>
          </tr>
        </table>
      </div>
    </div>
  </div>  
    <footer class="footer">
      <div class="footer-row">
          <p>© 2019 Ресторан "Марио". All Rights Reserved. Сайт разработан Vision Studio</p>
          <div class="footer-icon">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook icon"></i>
          </div>
      </div>
    </footer>  
  <script src="../static/js/script.js"></script>
</body>
</html>