<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora&family=Lovers+Quarrel&family=Marck+Script&family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/fish dishes.css">
    <link rel="stylesheet" href="../static/css/nav_footer.css">
    <link rel="stylesheet" href="../static/css/fish dishes_media.css">
</head>
<body>
  <section class="main-block">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
            <li class="item"><a href="../templates/main.html" class="link">Главная</a></li>
            <li class="item"><a href="../templates/main_menu.html" class="link">Меню</a></li>
            <li class="item"><a href="../templates/halls.html" class="link">Залы</a></li>
        </ul>
        <a href="../templates/main.html" ><img src="../static/img/logo.mario.png" alt=""></a>
        <ul class="menu">
            <li class="item"><a href="../templates/shev-cook .html" class="link">Шев-повары</a></li>
            <li class="item"><a href="../templates/booking.html" class="link">Бронирование</a></li>
            <li class="item"><a href="../templates/contacts.html" class="link">Контакты</a></li>
        </ul>
        <div class="header-right">
            <button type="button" class="nav-btn" id="navBtn"><span></span></button>
            <nav class="main-nav nav-hidden" id="mainNav">
                <ul class="main-nav-list">
                    <li class="main-nav-item">
                        <a href="../templates/main.html" class="main-nav-link">Главная</a>
                    </li>
                        <li class="main-nav-item">
                            <a href="../templates/main_menu.html" class="main-nav-link">Меню</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/halls.html" class="main-nav-link">Залы </a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/shev-cook .html" class="main-nav-link">Шев-повары</a>
                        </li>
                    <li class="main-nav-item">
                        <a href="../templates/booking.html" class="main-nav-link">Бронирование</a>
                    </li>
                    <li class="main-nav-item">
                    <a href="../templates/contacts.html" class="main-nav-link">Контакты</a>
                </li>
                </ul>
            </nav>
    </div>
  </section>
  <div class="header-img"></div>
  <div class="fish-menu-block container">
    <div class="row">
      <h1 class="title">Блюда из рыбы</h1>
      <img src="../static/img/italy.png" alt="картинка">
        <div class="line"></div>
    </div>
      <div class="fish-menu">
      <div class="ingredients-left">
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Дорадо на Сковороде</th>
            <th class="amount">450 гр</th>
            <th>950 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Филе Дорадо, Картофель черри, Помидоры черри, <br>
              Цуккини, Орегано, Масло Оливковое, Базилик, <br> Лимон</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Форель на Сковороде</th>
            <th class="amount">330 гр</th>
            <th>850 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Филе Форели, Морковь, Цуккини, Орегано, Базилик, <br> Лимон,
            Масло Оливковое, Тимьян, Соус На Основе <br> Картофеля</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Форель от Шеф-Повара</th>
            <th class="amount">260 гр</th>
            <th>500 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Филе Форели, Соус Кукурузный, Лук <br> карамелизированный
              Бальзамик Крем, Специи, Лимон, <br> Базилик</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Палтус с Карамелезированный</th>
            <th class="amount">350 гр</th>
            <th>820 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Палтус, Помидоры, Пюре картофельное, Зелень, <br>Карамель Лимонная, Помидоры Черри, Специи</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Стейк из сёмги</th>
            <th class="amount">200 гр</th>
            <th>700 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Сёмга, Помидоры Черри, Лимон, Соус <br> Брокколи, Специи, Масло оливковое</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Дорадо с Соусом Песто и овощами гриль</th>
            <th class="amount">310 гр</th>
            <th>950 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Филе Дорадо, Соус Песто, Бальзамический Крем, <br> Тимьян,Рукола, Цуккини, Баклажан, Помидоры <br> Черри,
              Перец Болгарский, Шампиньоны</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Сибас запеченный с овощами</th>
            <th class="amount">260 гр</th>
            <th>950 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Филе Сибаса, Помидоры, Соус Песто, Сыр <br> Пармезан,Микс Салат, Лук Порей, Лимон, Соус <br> Бешамель</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-row">
      <p>© 2019 Ресторан "Марио". All Rights Reserved. Сайт разработан Vision Studio</p>
      <div class="footer-icon">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook icon"></i>
      </div>
    </div>
  </footer>
  <script src="../static/js/script.js"></script>
</body>
</html>