<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora&family=Lovers+Quarrel&family=Marck+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/main_menu.css">
    <link rel="stylesheet" href="../static/css/nav_footer.css">
    <link rel="stylesheet" href="../static/css/main_menu_media.css">
</head>
<body>
   <section class="main-block">
        <div class="container">
            <nav class="nav">
                <ul class="menu">
                    <li class="item"><a href="../templates/main.html" class="link">Главная</a></li>
                    <li class="item"><a href="../templates/main_menu.html" class="link">Меню</a></li>
                    <li class="item"><a href="../templates/halls.html" class="link">Залы</a></li>
                </ul>
                <a href="../templates/main.html" ><img src="../static/img/logo.mario.png" alt=""></a>
                <ul class="menu">
                    <li class="item"><a href="../templates/shev-cook .html" class="link">Шев-повары</a></li>
                    <li class="item"><a href="../templates/booking.html" class="link">Бронирование</a></li>
                    <li class="item"><a href="../templates/contacts.html" class="link">Контакты</a></li>
                </ul>
                <div class="header-right">
                    <button type="button" class="nav-btn" id="navBtn"><span></span></button>
                    <nav class="main-nav nav-hidden" id="mainNav">
                        <ul class="main-nav-list">
                            <li class="main-nav-item">
                                <a href="../templates/main.html" class="main-nav-link">Главная</a>
                            </li>
                                <li class="main-nav-item">
                                    <a href="../templates/main_menu.html" class="main-nav-link">Меню</a>
                                </li>
                                <li class="main-nav-item">
                                    <a href="../templates/halls.html" class="main-nav-link">Залы </a>
                                </li>
                                <li class="main-nav-item">
                                    <a href="../templates/shev-cook .html" class="main-nav-link">Шев-повары</a>
                                </li>
                            <li class="main-nav-item">
                                <a href="../templates/booking.html" class="main-nav-link">Бронирование</a>
                            </li>
                            <li class="main-nav-item">
                            <a href="../templates/contacts.html" class="main-nav-link">Контакты</a>
                        </li>
                        </ul>
                    </nav>
                </div>
          </nav>
        </div>
    </section>
    <div class="container  main-header">
        <div class="row">
            <div class="menu-left">
                <div class="col">
                    <img class="img" src="../static/img/pizza.png" alt="картинка">
                    <div class="col-bottom">
                        <div class="hover">
                            <h2 class="col-title">Пицца</h2>
                            <a class="btn" href="pizza.html">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-right">
                <div class="col">
                <img class="img" src="../static/img/sypp.png" alt="картинка">
                    <div class="col-bottom">
                        <div class="hover">
                            <h2 class="col-title">Супы</h2>
                            <a class="btn" href="soups.html">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="row">
            <div class="col-menu-left">
                <div class="col">
                    <img class="img" src="../static/img/bar.png" alt="картинка">
                    <div class="col-bottom-left">
                        <div class="hover">
                            <h2 class="col-title">Бар</h2>
                            <a class="btn" href="bar.html">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img class="img" src="../static/img/desserts.png" alt="картинка">
                    <div class="col-bottom">
                        <div class="hover">
                            <h2 class="col-title">Десерты</h2>
                            <a class="btn" href="desserts.html">Перейти</a>
                        </div>
                    </div>
                </div>  
                <div class="col">
                    <img class="img" src="../static/img/pasta.png" alt="картинка">
                    <div class="col-bottom-left">
                        <div class="hover">
                            <h2 class="col-title">Паста</h2>
                            <a class="btn" href="pasta.html">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img class="img" src="../static/img/side dishes.png" alt="картинка">
                    <div class="col-bottom">
                        <div class="hover">
                            <h2 class="col-title">Гарниры</h2>
                            <a class="btn" href="side dishes.html">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img class="img" src="../static/img/fish dishes.png" alt="картинка">
                    <div class="col-bottom-left">
                        <div class="hover">
                            <h2 class="col-title">Рыбные блюда</h2>
                            <a class="btn" href="fish dishes.html">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-menu-right">
                <div class="col">
                    <img class="img" src="../static/img/salads.png" alt="картинка">
                    <div class="col-bottom-left">
                        <div class="hover">
                            <h2 class="col-title">Салаты</h2>
                            <a class="btn" href="salads.html">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img class="img" src="../static/img/meat dishes.png" alt="картинка">
                    <div class="col-bottom">
                        <div class="hover">
                            <h2 class="col-title">Мясные блюда</h2>
                            <a class="btn" href="meat dishes.html">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img class="img" src="../static/img/drinks.png" alt="картинка">
                    <div class="col-bottom">
                        <div class="hover">
                            <h2 class="col-title">Напитки</h2>
                            <a class="btn" href="drinks.html">Перейти</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <footer class="footer">
        <div class="footer-row">
            <p>© 2019 Ресторан "Марио". All Rights Reserved. Сайт разработан Vision Studio</p>
            <div class="footer-icon">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook icon"></i>
            </div>
        </div>
    </footer>
  <script src="../static/js/script.js"></script>
</body>
</html>