<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora&family=Lovers+Quarrel&family=Marck+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/media.css">
</head>
<body>
  <section class="main-block">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
            <li class="item"><a href="../templates/main.html" class="link">Главная</a></li>
            <li class="item"><a href="../templates/main_menu.html" class="link">Меню</a></li>
            <li class="item"><a href="../templates/halls.html" class="link">Залы</a></li>
        </ul>
        <a href="../templates/main.html" ><img src="../static/img/logo.mario.png" alt=""></a>
        <ul class="menu">
            <li class="item"><a href="" class="link">Шев-повары</a></li>
            <li class="item"><a href="" class="link">Бронирование</a></li>
            <li class="item"><a href="" class="link">Контакты</a></li>
        </ul>
        <div class="header-right">
          <button type="button" class="nav-btn" id="navBtn"><span></span></button>
          <nav class="main-nav nav-hidden" id="mainNav">
              <ul class="main-nav-list">
                  <li class="main-nav-item">
                      <a href="../templates/main.html" class="main-nav-link">Меню</a>
                  </li>
                  <li class="main-nav-item">
                      <a href="../templates/main_menu.html" class="main-nav-link">Залы </a>
                  </li>
                  <li class="main-nav-item">
                      <a href="../templates/halls.html" class="main-nav-link">Шев-повары</a>
                  </li>
                  <li class="main-nav-item">
                    <a href="#" class="main-nav-link">Бронирование</a>
                </li>
                <li class="main-nav-item">
                  <a href="#" class="main-nav-link">Контакты</a>
              </li>
              </ul>
          </nav>
        </div>
      </nav>
      <div class="Ristorante">
        <div class="Ristorante-info">
          <h1 class="title-ristorante">Mario Ristorante</h1>
          <p class="text">Мы так долго этого ждали, скучали, надеялись и верили. Дождались!
          Уже совсем скоро ресторан “Mario” откроет свои двери и будет ждать гостей.
          Да, и конечно же мы открываем брони на новогодние корпоративы.
          Следите за нашей лентой, скоро будет очень интересно....</p>
        </div>
        <img class="img" src="../static/img/Mask food.png" alt="картинка">
      </div>
    </div>
  </section>
 
  <script src="static/js/script.js"></script>
</body>
</html>