<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora&family=Lovers+Quarrel&family=Marck+Script&family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..//static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/meat disnes.css">
    <link rel="stylesheet" href="../static/css/nav_footer.css">
    <link rel="stylesheet" href="../static/css/meat disnes_media.css">
</head>
<body>
  <section class="main-block">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
            <li class="item"><a href="../templates/main.html" class="link">Главная</a></li>
            <li class="item"><a href="../templates/main_menu.html" class="link">Меню</a></li>
            <li class="item"><a href="../templates/halls.html" class="link">Залы</a></li>
        </ul>
        <a href="../templates/main.html" ><img src="../static/img/logo.mario.png" alt=""></a>
        <ul class="menu">
            <li class="item"><a href="../templates/shev-cook .html" class="link">Шев-повары</a></li>
            <li class="item"><a href="../templates/booking.html" class="link">Бронирование</a></li>
            <li class="item"><a href="../templates/contacts.html" class="link">Контакты</a></li>
        </ul>
        <div class="header-right">
            <button type="button" class="nav-btn" id="navBtn"><span></span></button>
            <nav class="main-nav nav-hidden" id="mainNav">
                <ul class="main-nav-list">
                    <li class="main-nav-item">
                        <a href="../templates/main.html" class="main-nav-link">Главная</a>
                    </li>
                        <li class="main-nav-item">
                            <a href="../templates/main_menu.html" class="main-nav-link">Меню</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/halls.html" class="main-nav-link">Залы </a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/shev-cook .html" class="main-nav-link">Шев-повары</a>
                        </li>
                    <li class="main-nav-item">
                        <a href="../templates/booking.html" class="main-nav-link">Бронирование</a>
                    </li>
                    <li class="main-nav-item">
                    <a href="../templates/contacts.html" class="main-nav-link">Контакты</a>
                </li>
                </ul>
            </nav>
    </div>
  </section>
  <div class="header-img"></div>
  <div class="fish-menu-block container">
    <div class="row">
      <h1 class="title">Блюда из мясо</h1>
      <img src="../static/img/italy.png" alt="картинка">
        <div class="line"></div>
    </div>
    <div class="fish-menu">
      <div class="ingredients-left">
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Куриная грудка в сливочном <br>
              соусе с шампиньонами</th>
            <th class="amount">300 гр</th>
            <th>450 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Грудка куриная, Шампиньоны, <br> Специи, Тимьян, Чеснок
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Печень по-милански”</th>
            <th class="amount">415 гр</th>
            <th>480 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Печень говяжья, Шалфей, Лук, <br> Шпинат, Специи</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Телятина с лесными грибами</th>
            <th class="amount">260 гр</th>
            <th>500 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Вырезка Телячья, Картофель, Лук <br> Шалот, Шампиньоны, Грибы <br> Лесные</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Оссобука”</th>
            <th class="amount">640 гр</th>
            <th>600 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Оссобука из телятины. Лук, Сельдерей, <br>
              Морковь, Помидоры Пилатти, Розмарин, <br> Тимьян, Кус Кус
              </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Телятина “Карлеоне”</th>
            <th class="amount">220 гр</th>
            <th>550 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Вырезка телячья, Шампиньоны, <br> Картофель запечённый
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Каре ягненка”</th>
            <th class="amount">400 гр</th>
            <th>720 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Ягненка, Специи, Помидоры Черри, <br> Соус Сальса, Масло Оливковое</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Голень ягненка”</th>
            <th class="amount">500 гр</th>
            <th>750 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Голень, Морковь, Лук, Сельдерей, Специи, Пюре Картофельное</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    <div class="ingredients-right">
      <h6 class="productions-title">стейки</h6>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Стейк “Стриплон”</th>
            <th class="amount">400 гр</th>
            <th class="amount1">800 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Стейк “Рибай”</th>
            <th class="amount">310 гр</th>
            <th class="amount1">980 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Стейк “Тибон”</th>
            <th class="amount">310 гр</th>
            <th class="amount1">1000 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Стейк “Ковбой”</th>
            <th class="amount">460 гр</th>
            <th class="amount1">55 сом</th>
          </tr>
        </table>
        <h6 class="productions-title">Соусы</h6>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Соус BBQ</th>
            <th class="amount">3 гр</th>
            <th class="amount1">70 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Соус Сальса</th>
            <th class="amount">3 гр</th>
            <th class="amount1">70 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Соус Острый</th>
            <th class="amount">35 гр</th>
            <th class="amount1">70 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Соус Песто</th>
            <th class="amount">30 гр</th>
            <th class="amount1">90 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Соус Бальзамический</th>
            <th class="amount">30 гр</th>
            <th class="amount1">120 сом</th>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount table-text2">
            <th class="table-title one">Соус Трюфельный</th>
            <th class="amount">30 гр</th>
            <th class="amount1">150 сом</th>
          </tr>
        </table>
     </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-row">
        <p>© 2019 Ресторан "Марио". All Rights Reserved. Сайт разработан Vision Studio</p>
        <div class="footer-icon">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook icon"></i>
        </div>
    </div>
  </footer>
  <script src="js/script.js"></script>
</body>
</html>