<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora&family=Lovers+Quarrel&family=Marck+Script&family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/pasta.css">
    <link rel="stylesheet" href="../static/css/nav_footer.css">
    <link rel="stylesheet" href="../static/css/pasta_media.css">
</head>
<body>
  <section class="main-block">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
            <li class="item"><a href="../templates/main.html" class="link">Главная</a></li>
            <li class="item"><a href="../templates/main_menu.html" class="link">Меню</a></li>
            <li class="item"><a href="../templates/halls.html" class="link">Залы</a></li>
        </ul>
        <a href="../templates/main.html" ><img src="../static/img/logo.mario.png" alt=""></a>
        <ul class="menu">
            <li class="item"><a href="../templates/shev-cook .html" class="link">Шев-повары</a></li>
            <li class="item"><a href="../templates/booking.html" class="link">Бронирование</a></li>
            <li class="item"><a href="../templates/contacts.html" class="link">Контакты</a></li>
        </ul>
        <div class="header-right">
            <button type="button" class="nav-btn" id="navBtn"><span></span></button>
            <nav class="main-nav nav-hidden" id="mainNav">
                <ul class="main-nav-list">
                    <li class="main-nav-item">
                        <a href="../templates/main.html" class="main-nav-link">Главная</a>
                    </li>
                        <li class="main-nav-item">
                            <a href="../templates/main_menu.html" class="main-nav-link">Меню</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/halls.html" class="main-nav-link">Залы </a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/shev-cook .html" class="main-nav-link">Шев-повары</a>
                        </li>
                    <li class="main-nav-item">
                        <a href="../templates/booking.html" class="main-nav-link">Бронирование</a>
                    </li>
                    <li class="main-nav-item">
                    <a href="../templates/contacts.html" class="main-nav-link">Контакты</a>
                </li>
                </ul>
            </nav>
        </div>
      </nav>
    </div>
  </section>
  <div class="header-img"></div>
  <div class="pasta-menu-block container">
    <div class="row">
      <h1 class="title">Паста</h1>
      <img src="../static/img/italy.png" alt="картинка">
        <div class="line"></div>
    </div>
      <div class="pasta-menu">
      <div class="ingredients-left">
        <h2 class="productions-title">Паста производства ресторана Марио</h2>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Классическая “Лазанья”</th>
            <th class="amount">350 гр</th>
            <th>480 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Паста Фирменная от Шеф-Повара, Соус <br> Бешамель,Рагу Болоньезе, Сыр <br> Пармезан, Масло Оливковое</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Равиоли”Би Колоре</th>
            <th class="amount">250 гр</th>
            <th>380 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Паста двух видов: обычное и с чернилами <br> каракатицы, Фарш из Креветок Кальмаров, <br> Каракатицы, Осминога, Сыр Рикотта, <br> Розмарин, соус Бешамель, соус Биск
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Тальятелле с грибами”</th>
            <th class="amount">490 гр</th>
            <th>680 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Паста Фирменная от Шеф-Повара, <br> Шампиньоны,
            Сыр Пармезан, Тимьян, <br> Масло Трюфельное,Специи</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Китарринэ с морепродуктами”</th>
            <th class="amount">450 гр</th>
            <th>850 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Паста Фирменная от Шеф-Повара, <br> Осьминоги, Кальмары, Креветки <br> Тигровые, Мидии, Морские
              Гребешки, <br> Чеснок, Томатный соус</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Тальятелле Три Колор”</th>
            <th class="amount">350 гр</th>
            <th>450 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Паста собственного приготовления из <br> шпината, Сливки,Сыр Пармезан, <br> Помидоры Черри, Масло Оливковое, <br> Базилик</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Паста с чернилами <br> каракатицы”</th>
            <th class="amount">380 гр</th>
            <th>580 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Паста собственного приготовления с <br> добавлением чернил каракатиц,
              Сливки, <br> Шпинат, Чеснок, Тимьян, Креветки, <br> Специи, Сыр Пармезан</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Каннеллони”</th>
            <th class="amount">330 гр</th>
            <th>600 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Паста собственного приготовления из <br> шпината Сыр Рикотта собственного <br> приготовления, Специи Фарш из семги <br> собственного копчения, Соус Бешамель</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Равиоли с рикотто и грецким <br> орехом”</th>
            <th class="amount">185 гр</th>
            <th>450 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">сомсобственного приготовления, <br> фаршированная Сыром Рикотто и <br> грецким орехом под сливочным соусом со <br> спаржей и пармезаном</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="ingredients-right">
        <h2 class="productions-title">Паста производства Dececco</h2>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Спагетти АРО (aglioolioе <br> peperoncino)</th>
            <th class="amount">250 гр</th>
            <th>350 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Спагетти, Масло Оливковое, Острый <br> Перец, Чеснок, Петрушка</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Паста “Спагетти с <br> помидорами и базиликом”</th>
            <th class="amount">285 гр</th>
            <th>550 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Спагетти, Соус Пилати, Сыр <br> Пармезан, Соус Песто</tr>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Паста “Пенне и Арраббиата”</th>
            <th class="amount">250 гр</th>
            <th>370 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Паста Седани, Томатный Соус, Сыр <br> Пармезан,
              Масло Оливковое, <br> Петрушка, Пеперончино, Чеснок</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Ризотто со спаржей”</th>
            <th class="amount">265 гр</th>
            <th>380 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Ризотто, Спаржа, Сыр Пармезан, <br> Специи
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Спагетти “Карбонара”</th>
            <th class="amount">360 гр</th>
            <th>450 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Спагетти, Ветчина (говядина), Сыр <br> Пармезан, Специи</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Ризотто с грибами и <br> ароматом трюфеля”</th>
            <th class="amount">330 гр</th>
            <th>550 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Ризотто, Грибы, Масло <br> Трюфельное
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">“Ризотто с дарами моря”</th>
            <th class="amount">340 гр</th>
            <th>800 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Ризотто, Осьминоги, Креветки Тигровые, <br> Кальмары, Морские Гребешки, Мидии, <br> Розмарин</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Спагетти с бон-филе</th>
            <th class="amount">360 гр</th>
            <th>450 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Ризотто, Грибы, Масло <br> Трюфельное,
              Крем Трюфельный, <br> Пармезан, Сливки</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Ризотто с сыром горгонзола</th>
            <th class="amount">340 гр</th>
            <th>600 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Ризотто, Сыр Горгонзола, Сливки, <br> Груша</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <footer class="footer">
      <div class="footer-row">
          <p>© 2019 Ресторан "Марио". All Rights Reserved. Сайт разработан Vision Studio</p>
          <div class="footer-icon">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook icon"></i>
          </div>
      </div>
  </footer>
  <script src="../static/js/script.js"></script>
</body>
</html>