<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lora&family=Lovers+Quarrel&family=Marck+Script&family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/salads.css">
    <link rel="stylesheet" href="../static/css/nav_footer.css">
    <link rel="stylesheet" href="../static/css/salads_media.css">
</head>
<body>
  <section class="main-block">
    <div class="container">
      <nav class="nav">
        <ul class="menu">
            <li class="item"><a href="../templates/main.html" class="link">Главная</a></li>
            <li class="item"><a href="../templates/main_menu.html" class="link">Меню</a></li>
            <li class="item"><a href="../templates/halls.html" class="link">Залы</a></li>
        </ul>
        <a href="../templates/main.html" ><img src="../static/img/logo.mario.png" alt=""></a>
        <ul class="menu">
            <li class="item"><a href="../templates/shev-cook .html" class="link">Шев-повары</a></li>
            <li class="item"><a href="../templates/booking.html" class="link">Бронирование</a></li>
            <li class="item"><a href="../templates/contacts.html" class="link">Контакты</a></li>
        </ul>
        <div class="header-right">
            <button type="button" class="nav-btn" id="navBtn"><span></span></button>
            <nav class="main-nav nav-hidden" id="mainNav">
                <ul class="main-nav-list">
                    <li class="main-nav-item">
                        <a href="../templates/main.html" class="main-nav-link">Главная</a>
                    </li>
                        <li class="main-nav-item">
                            <a href="../templates/main_menu.html" class="main-nav-link">Меню</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/halls.html" class="main-nav-link">Залы </a>
                        </li>
                        <li class="main-nav-item">
                            <a href="../templates/shev-cook .html" class="main-nav-link">Шев-повары</a>
                        </li>
                    <li class="main-nav-item">
                        <a href="../templates/booking.html" class="main-nav-link">Бронирование</a>
                    </li>
                    <li class="main-nav-item">
                    <a href="../templates/contacts.html" class="main-nav-link">Контакты</a>
                </li>
                </ul>
            </nav>
        </div>
      </nav>
    </div>
  </section>
  <div class="header-img"></div>
  <div class="salads-menu-block container">
    <div class="row">
      <h1 class="title">Салаты</h1>
      <img src="../static/img/italy.png" alt="картинка">
        <div class="line"></div>
    </div>
      <div class="salads-menu">
      <div class="ingredients-left">
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат с рукколой и телятиной <br> Сотэ</th>
            <th class="amount">200 гр</th>
            <th>600 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Руккола, Телятина бон-филе, Сыр <br> Пармезан, Вяленые помидоры <br> Оливковое масло, Лимонный сок, <br> Бальзамический соус
              </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат “Утка в Малине”</th>
            <th class="amount">280 гр</th>
            <th>350 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Орех Мускатный, Свёкла, Сыр Черри, <br>
              Сыр Козий, Шпинат, Соус Медовый
              </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат с козьим сыром</th>
            <th class="amount">250 гр</th>
            <th>420 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Сыр Фета, Помидоры, Огурцы, <br> Перец Болгарский, <br> Микс Салатов, Оливки, Маслины, <br> Лук Красный Лимон              
              </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат “Цезарь с курицей”</th>
            <th class="amount">350 гр</th>
            <th>750 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Салат Романа, Помидоры Черри, <br> Итальянский классический <br> соус цезарь. Грудка Куриная, Сыр <br> Пармезан, Гренки
              </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат “Рукола с креветками”</th>
            <th class="amount">200 гр</th>
            <th>460 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Рукола, Помидоры Вяленые, Соус <br> Фирменный, <br>
              Сыр Пармезан, Авокадо, Креветки
              </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат “Цезарь с креветками”</th>
            <th class="amount">220 гр</th>
            <th>530 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Салат Романа, Помидоры Черри, <br> Итальянский классический <br> соус цезарь. Креветки, Сыр <br> Пармезан, Гренки
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат “Бора-Бора”</th>
            <th class="amount">290 гр</th>
            <th>550 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Креветки Тигровые, Авокадо, Огурцы, <br> Специи</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат “Тунец в <br> восточном соусе”</th>
            <th class="amount">280 гр</th>
            <th>640 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Тунец, Авокадо, Помидоры <br> Черри, Микс Салатов, <br> Кунжут, Соус Восточный</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат “Дары моря”</th>
            <th class="amount">300 гр</th>
            <th>850 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Осьминоги, Креветки, Морские <br> Гребешки, <br>
              Каракатица, Кальмары, Помидоры <br> Черри, <br>
              Микс Салатов, Соус Песто, Специи</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="ingredients-right">
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Теплый салат “Фегатини”</th>
            <th class="amount">212 гр</th>
            <th>280 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Печень куриная. Шпинат, <br>
              Соус Медовый, Специи</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Теплый Салат “Аранчэ <br> э Гамбери”</th>
            <th class="amount">277 гр</th>
            <th>530 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Креветки Тигровые, Авокадо, Апельсин, <br>
              Микс Салатов, Помидоры Черри, <br> Фасоль, Лимон</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Мисто по-итальянски</th>
            <th class="amount">400 гр</th>
            <th>550 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Руккола, Листья салата, Айсберг, <br> Огурцы. Помидоры Черри, Редис, <br>
              Морковь, Перец болгарский, Маслины, <br> Оливки, Бальзамический уксус <br>Лимонный сок, Оливковое масло</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Тёплый салат “Каппесанте”</th>
            <th class="amount">272 гр</th>
            <th>620 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Креветки Тигровые, Морские Гребешки, <br> Листья Салатов Лолло Россо <br>
            Айсберг, Сельдерей, Фасоль, Помидоры <br> Черри, Специи, Уксус Винный</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат “Рукола с креветками”</th>
            <th class="amount">190 гр</th>
            <th>520 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Рукола, Помидоры Вяленые, Соус <br> Фирменный, Сыр Пармезан <br> Каракатица, Кальмары, Помидоры <br> Черри, <br>
            Помидоры Черри, Тигровые Креветки</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат “Бора-Бора”</th>
            <th class="amount">290 гр</th>
            <th>550 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Креветки Тигровые, Авокадо, Огурцы, <br> Специи</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат с брокколи <br> средиземноморский</th>
            <th class="amount">265 гр</th>
            <th>360 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Брокколи, Сельдерей, Цветная капуста, <br> Перец болгарский, Редис, <br> Микс салата, Соус средиземноморский</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="table">
          <tr class="table-amount">
            <th class="table-title">Салат с рукколой и <br> телячьим языком</th>
            <th class="amount">220 гр</th>
            <th>500 сом</th>
          </tr>
          <tr class="table-text">
            <td class="one">Телячий язык, Руккола, Помидоры <br> Черри, Кедровые орешки, кунжут, <br> Соус Васаби <br>Теплые салаты</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-row">
      <p>© 2019 Ресторан "Марио". All Rights Reserved. Сайт разработан Vision Studio</p>
      <div class="footer-icon">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook icon"></i>
      </div>
    </div>
  </footer>
  <script src="../static/js/script.js"></script>
</body>
</html>